/* COLOR */
:root {
    --green: #1d9e3e;
    --teal:  #00a9ce;
    --grey:  #d0d0d0;
    --white: #ffffff;
}

*, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }

body {
    width: 100vw;
    height: 100vh;
    background: url('images/Interactive-Web_Background10.jpg') center / 100% auto no-repeat;
    position: relative;
    overflow: hidden;
}

/* p5 CANVAS CONTAINER */
#p5-canvas {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    pointer-events: none;
    z-index: 1;
}
#p5-canvas canvas {
    pointer-events: all;
}

/* TITLE */
.instr-title {
    position: absolute;
    top: -1%;
    left: 11.7%;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
    font-size: clamp(48px, 10vw, 141px);
    color: var(--green);
    letter-spacing: 0.30em;
    line-height: 1;
    z-index: 10;
    pointer-events: none;
}

.white {
    color: var(--white);
}

/* TINY PERSON */
.tiny-person {
    position: absolute;
    top: 22%;
    left: 77%;
    z-index: 10;
    pointer-events: none;
}

.tiny-person img {
    display: block;
    width: clamp(300px, 12vw, 180px);
    height: auto;
}

/* DIAGONAL ARROW */
.instr-arrow-char {
    position: absolute;
    top: 35%;
    right: 26%;
    font-size: clamp(70px, 5vw, 90px);
    color: var(--green);
    font-weight: 700;
    line-height: 1;
    z-index: 10;
    pointer-events: none;
}

/*  NEXT BUTTON */
.btn-next {
    position: absolute;
    bottom: 0.2%;
    right: 11%;
    width:  clamp(269px, 12vw, 160px);
    height: clamp(150px, 7vw, 110px);
    background: var(--grey);
    border: none;
    cursor: pointer;
    font-family: 'Space Grotesk', sans-serif;
    font-size: clamp(28px, 3.5vw, 56px);
    font-weight: 700;
    color: var(--teal);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.15s, transform 0.12s;
    z-index: 20;
}

.btn-next:hover  { background: #b8b8b8; transform: scale(1.05); }
.btn-next:active { transform: scale(0.97); }
